{% extends "base_userproject.html" %}

{% load staticfiles %}

{% block userprojectbase %}

    {% include "template_form_errormessages.html" %}

    {% if wrong_student_id %}
        {% include "template_errormessage.html" with error="学号输入错误" %}
    {% endif %}

    {% if success %}
        {% include "template_successmessage.html" with message="项目申请成功" %}
    {% endif %}

    <h1>{{ username }}'s Projects</h1>
    <hr>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Project Type</th>
                <th>Professor</th>
                <th>Status</th>
                <th>Endtime</th>
            </tr>
        <tbody>
        </thead>
        {% for project in project_list %}
            <tr>
                <td><a href="{{ project.id }}/details">{{ project.name }}</a></td>
                <td>{{ project.project_type }}</td>
                <td>{{ project.professor }}</td>
                <td>{{ project.get_status }}</td>
                <td>{{ project.endtime }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock userprojectbase %}