{% extends "base.html" %}

{% block account %}

<ul class="nav nav-pills nav-stacked">
    <li><h4>My Info</h4></li>
    <ul  class="nav nav-pills nav-stacked nav-pills-stacked-example">
        <li role="presentation"><a href="#">Basic Info</a></li>
        <li role="presentation"><a href="#">Change Password</a></li>
    </ul>
    <li class="nav-divider"></li>
    <li><h4>My Project</h4></li>
    <ul  class="nav nav-pills nav-stacked nav-pills-stacked-example">
        <li role="presentation"><a href="#">My Project</a></li>
        <li role="presentation"><a href="#">New Project</a></li>
    </ul>
    <li class="nav-divider"></li>
    <li><h4>My Credit</h4></li>
    <ul  class="nav nav-pills nav-stacked nav-pills-stacked-example">
        <li role="presentation"><a href="#">My Credit</a></li>
        <li role="presentation"><a href="#">New Credit</a></li>
    </ul>
</ul>

{% endblock %}