{% extends "base.html" %}

{% load staticfiles %}

{% block contentbase %}
    <div class="panel-card">
        <h1>Admin Web</h1>
        <p>See more details <a href="/admin/">here ...</a></p>
        <hr>
        {% block adminweb_base %}
        {% endblock adminweb_base %}
    </div>
{% endblock contentbase %}

{% block sidebarbase %}
    <div class="panel-card">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" id="new_student"><a href="/accounts/adminweb/new_student">添加学生用户</a></li>
            <li role="presentation" id="new_professor"><a href="/accounts/adminweb/new_professor">添加教师用户</a></li>
            <li role="presentation" id="project_type"><a href="/accounts/adminweb/project_type">项目类型</a></li>
            <li role="presentation" id="new_news"><a href="/accounts/adminweb/new_news">发布消息</a></li>
            <li role="presentation" id="change_project_status"><a href="{% url 'change_project_status' id=0 status=7 %}">修改项目状态</a></li>
            <li role="presentation" id="change_credit_status"><a href="{% url 'change_credit_status' status=3 %}">修改学分状态</a></li>
        </ul>
    </div>

    <script>
        list = document.location.href.split("/");
        $('#'+list[list.length - 2]).addClass("active");
        $('#'+list[list.length - 3]).addClass("active");
    </script>
{% endblock sidebarbase %}