{% extends "base.html" %}

{% load staticfiles %}

{% block contentbase %}
    <div class="panel-card">
        {% block userprojectbase %}
        {% endblock userprojectbase %}
    </div>

{% endblock contentbase %}

{% block sidebarbase %}

    <div class="panel-card">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" id="my_project"><a href="/accounts/my_project/0/7">学生项目</a></li>
        </ul>
    </div>

    <script>
        list = document.location.href.split("/");
        $('#'+list[list.length - 3]).addClass("active");
    </script>

{% endblock sidebarbase %}