{% extends "base.html" %}

{% load staticfiles %}

{% block contentbase %}
    <div class="panel-card">
        {% block userprojectbase %}
        {% endblock userprojectbase %}
    </div>

{% endblock contentbase %}

{% block sidebarbase %}

    <div class="panel-card">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" id="my_project"><a href="/accounts/my_project/">我的项目</a></li>
            <li role="presentation" id="new_project"><a href="/accounts/new_project/">项目申请</a></li>
        </ul>
    </div>

    <script>
        list = document.location.href.split("/");
        $('#'+list[list.length - 2]).addClass("active");
    </script>

{% endblock sidebarbase %}