{% extends "base.html" %}

{% load staticfiles %}

{% block contentbase %}
    <div class="panel-card">
        {% block userprojectbase %}
        {% endblock userprojectbase %}
    </div>

{% endblock contentbase %}

{% block sidebarbase %}

    <div class="panel-card">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" id="details"><a href="../../details">项目信息</a></li>
            {% if changeable %}
            <li role="presentation" id="change_details"><a href="../../change_details">修改项目信息</a></li>
            {% endif %}
            <li role="presentation" id="fund"><a href="../../fund">经费</a></li>
        </ul>
    </div>

{% endblock sidebarbase %}