{% extends "base.html" %}

{% load staticfiles %}

{% block contentbase %}
    <div class="panel-card">
        <h1>{{ user.first_name }} {{ user.last_name }}</h1>
        <hr>
        {% block userinfobase %}
        {% endblock userinfobase %}
    </div>

{% endblock contentbase %}
{% block sidebarbase %}
    <div class="panel-card">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" id="basic-info"><a href="#">Basic Info</a></li>
            <li role="presentation" id="change-info"><a href="#">Change Info</a></li>
            <li role="presentation" id="change-password"><a href="#">Change Password</a></li>
        </ul>
    </div>

    <script>
        $('#change-password').addClass("active");
    </script>
{% endblock sidebarbase %}