{% extends "base_userinfo.html" %}

{% block userinfobase %}
    {% if not_valid %}
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Error!</strong> 密码不能为空！
        </div>
    {% endif %}
    {% if old_password_is_wrong %}
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Error!</strong> 原密码输入错误！
        </div>
    {% endif %}
    {% if password_not_same %}
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Error!</strong> 两次密码输入不一致！
        </div>
    {% endif %}
    {% if other_wrong %}
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Error!</strong> 未知错误！
        </div>
    {% endif %}
    {% if success %}
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Sucess!</strong> 修改成功！
        </div>
    {% endif %}

    <form class="form-horizontal col-sm-10" action="" method="post">
        {% csrf_token %}
        {% include "formTemplate.html" %}
        <button type="submit" class="btn btn-default ">Submit</button>

    </form>


{% endblock userinfobase %}