{% extends "base_contact.html" %}

{% block contactcontent %}

    <table class="table table-striped table-hover">
      <thead>
        <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Grade</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
      </thead>
      <tbody>
        {% for student in student_list %}
            <tr>
                <td>{{ student.get_full_name }}</td>
                <td>{{ student.user.username }}</td>
                <td>{{ student.grade }}</td>
                <td>{{ student.phone }}</td>
                <td>{{ student.user.email }}</td>
            </tr>

        {% endfor %}

      </tbody>
    </table>
{% include "template_paginator.html" with page=student_list %}

{% endblock contactcontent %}

{% block searchcontent %}
    <form class="form-horizontal" action="search/" method="GET">
    {% csrf_token %}
        <div class="form-group">
            <label for="search" class="col-sm-3 control-label">CONENT</label>
            <div class="col-sm-10">
               <input type="text" name="search" class="form-control" placeholder="姓名或学号" id="search">
            </div>

        </div>

        <div class="form-group">
            <label for="gradeselect" class="col-sm-3 control-label">GRADE</label>
            <div class="col-sm-10">
               <select class="form-control" id="gradeselect" name="grade">
               <option>
                   ALL
               </option>
                    {% for grade in grade_list %}
                        <option value="{{ grade.grade }}">{{ grade.grade }}</option>
                   {% endfor %}
                 </select>
            </div>
        </div>
     <button type="submit" class="btn btn-default">SEARCH</button>
    </form>
{% endblock searchcontent %}