{% extends "base_credit.html" %}

{% block creditcontent %}


    <table class="table table-bordered">
      <thead>
        <tr>
            <th>Credit Type</th>

            <th>Name</th>
            <th>Get Project Time</th>
            <th>Application Time</th>
            <th>Value</th>
            <th>Grade</th>
            <th>Status</th>
            <th>Others</th>

        </tr>
      </thead>
      <tbody>
        {% for credit in credit_list %}
            <tr>

                <td>{{ credit.get_credit_type_display}}, {{ credit.get_credit_second_type_display }}, {{ credit.get_credit_third_type_display }}</td>

                <td>{{ credit.name  }}</td>
                <td>{{ credit.get_project_date }}</td>
                <td>{{ credit.create_credit_date }}</td>
                <td>{{ credit.value }}</td>
                <td>{{ credit.get_grade_display }}</td>

                {% if credit.status == 0 %}
                    <td class="warning">{{ credit.get_status_display }}</td>
                 {% elif credit.status == 1 %}
                    <td class="active">{{ credit.get_status_display }}</td>
                 {% else %}
                    <td class="success">{{ credit.get_status_display }}</td>
                {% endif %}
                <td>
                    {% if credit.status != 2 %}
                        <a href="{% url 'delete_credit' id=credit.id %}">Delete</a>
                        {% if credit.status == 0 %}
                            /<a href="{% url 'edit_credit' id=credit.id %}">Edit</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>


{% endblock creditcontent %}