{% extends "base_maincontent.html" %}

{% block maincontentbase %}

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 login">

            {% include "template_form_errormessages.html" %}

            {% if password_is_wrong %}
                {% include "template_errormessage.html" with error="密码错误" %}
            {% endif %}

            <div class="container col-sm-8 col-sm-offset-2  ">
                <form class="form-horizontal" action="" method="post">
                    <hr>
                    {% csrf_token %}
                    {% include "formTemplate.html" %}
                    <hr>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
            </div>
        </div>
    </div>

{% endblock maincontentbase %}